.cards_on_table_wrapper{
    /* justify-self: center; */
    align-self: center;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    margin: auto ;
    width: max-content;
    height: 650px;
    position: relative;
}

.row{
    display: flex;
    flex-direction: row;
    width: max-content;
    height: 390px;
    position: relative;
}

.pair{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 190px;
}

.second_card_placeholder{
    position: absolute;
    top:90px;
}

/* .coverind_card{
    background-image: url(../../../pictures/card_field.png);
    width: 150px;
    height: 206px;
    background-repeat: no-repeat;
    position: absolute;

}

.covered_card{
    background-image: url(../../../pictures/card_field.png);
    width: 150px;
    height: 206px;
    background-repeat: no-repeat;
    position: absolute;
    top: 206px;
} */