.opponents_cards_wrapper{
    display: flex;
    justify-content:space-between;
    position: absolute;
    top: 0px;
    left: 0px;
    align-content: flex-start;
    width: max-content;
    height: max-content;
    transform: translate(25vw, -50%);
    /* transform: scale(0.7); */
}

.opponent_card{
    background-image: url(../../../pictures/card_shirt.png);
    width: 160px;
    height: 206px;
    background-image: cover;
    background-repeat: no-repeat;
    
}